# Paypal
VITE_PAYPAL_CLIENT_ID=

# API
VITE_API_BASE_URL=https://csti-production.up.railway.app

# Contacto publico
VITE_CONTACT_PHONE=442 251 05 21
VITE_CONTACT_PHONE_HREF=+524422510521
VITE_CONTACT_EMAIL=ventas@csti.com.mx
VITE_CONTACT_ADDRESS=Pirineos no. 515 int. 41-J, Parque Industrial Micro Santiago, CP 76120, Santiago de Queretaro, Qro.
