.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 40px;
}

.pageBtn {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background: white;
    color: #00b4d8;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.active {
    background: #001f3f;
    color: white;
}